.App {
  text-align: center;
}
.input_style{
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.text{
  font-size: 1.2rem;
}
.output_style{
  font-size: 1.7rem;
  font-weight: bold;
  border: solid 2px black;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}